<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LichenMath-iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LichenMath.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>limath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8455200A198D445000571109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84780D66197F353C000C3B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84780D7D197F353C000C3B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B8F1C01A183A17000C1AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B8F1CA1A183A17000C1AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B8F2051A183AD2000C1AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B8F20F1A183AD2000C1AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
